[user]
	email = aram_mikayelyan@tutanota.com
	name = Aram Mikayelyan
[core]
	pager = delta --line-numbers --dark
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[decorations]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	# hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

